<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="bililive_dm_like_debounce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <bililive_dm_like_debounce.Properties.Settings>
            <setting name="frequency" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="intervalMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enabled" serializeAs="String">
                <value>False</value>
            </setting>
        </bililive_dm_like_debounce.Properties.Settings>
    </userSettings>
</configuration>